@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Quản lý liên hệ của khách hàng</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="x_panel">
                        <div class="x_content">
                            <!-- <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">id_Contact: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Name: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Sex: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Email: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Phone: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Content: </label>
                            </div> -->
                            <table style="width: 100%">
                                <thead>
                                    <th>
                                        action
                                    </th>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Sex
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Content
                                    </th>
                                </thead>

                                <body>
                                    <tr>
                                        <td>
                                            <span id="btnDelete" class="glyphicon glyphicon-trash"></span> &nbsp; &nbsp;
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </body>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
