@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>KhuyenMai</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,vietnamese' rel='stylesheet'
          type='text/css'>
    <!-- CSS -->
    <link href="/Content/User/Content/css/color.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/inner.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/layout.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/nivo-slider.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/User/Pluginsjquery-ui/css/jquery-ui-1.8.7.custom-blue.css" rel="stylesheet" />
    <!-- Css Menu  trên cùng -->
    <link href="/Content/User/Plugins/Menu/styles-menu.css" rel="stylesheet" />
    <!-- comment css-->
    <link href="/Content/User/Content/css/comment.css" rel="stylesheet" />
    <!-- JS -->
    <script src="/Content/User/Pluginsjquery-ui/js/jquery-1.9.1.js"></script>
    <script src="/Content/User/Pluginsjquery-ui/js/jquery-ui-1.10.0.min.js"></script>
    <!-- script menu-->
    <script src="/Content/User/Plugins/Menu/script-menu.js"></script>
</head>

<body class="" cz-shortcut-listen="true">

    <div id="bodychild">
        <div id="outercontainer">
            <!-- HEADER -->
            <div id="outerheader">
                <div id="headercontainer">
                    <div class="container" style="position: relative">
                        <header id="top">
                            <div id="logo">
                                <a href="/Home/Index"><img src="/Content/User/files/images/comment/logo.png" alt="GRAND HOTEL"></a>
                            </div>
                            <div id="navigation">
                                <div id='cssmenu'>
                                    <ul>
                                        <li><a href="/Home/Index">Trang Chủ</a></li>
                                        <li><a href="/GioiThieu">Giới Thiệu</a></li>
                                        <li><a href="/LoaiPhong">Loại Phòng</a></li>
                                        <li><a href="/Home/KhuyenMai">Khuyến Mãi</a></li>
                                        <li><a href="/Home/DichVu">Dịch Vụ</a></li>
                                        <li><a href="/Gallery">Gallery</a></li>
                                        <li><a href="/Home/LienHe">Liên Hệ</a></li>
                                        <li><a href="/DatPhong">Đặt Phòng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </header>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- END HEADER -->
            <!-- SLIDER -->
            <div id="outerafterheader">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns" id="afterheader">
                            <h1 class="pagetitle nodesc">KHUYẾN MÃI</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div id="outermain">
                <div id="maincontainer">
                    <div class="container">
                        <div class="row">
                            <section id="maincontent">
                                <section id="content" class="twelve columns">
                                    <div id="ts-portfolio">
                                        <div class="row ">
                                            <section class="content-detail">
                                                <section class="eight columns positionleft">
                                                    <article class="post">
                                                        <div class="articlecontainer">
                                                            <div class="postimg postimg-article">
                                                                <img src="/Content/User/files/images/Room/phong-deluxe/80625895.jpg"
                                                                     alt="Khuyến mãi lớn">
                                                            </div>
                                                            <h2 class="posttitle"><a href="#">Khuyến mãi lớn</a></h2>
                                                            <div class="entry-content des-article">
                                                                <p>
                                                                    - Giảm giá 63% cho tất cả các loại phòng, chương
                                                                    trình khuyến mãi này có hiệu lực đến ngày
                                                                    09/04/2020.
                                                                    <br />
                                                                    - Khách hàng được quyền thay đổi hoặc hủy bỏ một
                                                                    tuần trước khi đến mà không bị tính phí.
                                                                </p>
                                                                <div class="clear"></div>
                                                                <a href="#" class="more">Chi tiết</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <br />
                                                    </article>
                                                    <article class="post">
                                                        <div class="articlecontainer">
                                                            <div class="postimg postimg-article">
                                                                <img src="/Content/User/files/images/Room/phong-deluxe/80625894.jpg"
                                                                     alt="Khuyến m&#227;i m&#249;a h&#232; 2018">
                                                            </div>
                                                            <h2 class="posttitle">
                                                                <a href="#">
                                                                    Khuyến
                                                                    mãi mùa hè 2018
                                                                </a>
                                                            </h2>
                                                            <div class="entry-content des-article">
                                                                <p>
                                                                    - Với hệ thống Grand Hotel, bạn không chỉ tận hưởng
                                                                    trải nghiệm kỳ nghỉ tuyệt vời với những trải nghiệm
                                                                    thú vị
                                                                </p>
                                                                <div class="clear"></div>
                                                                <a href="#" class="more">Chi tiết</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <br />
                                                    </article>
                                                    <article class="post">
                                                        <div class="articlecontainer">
                                                            <div class="postimg postimg-article">
                                                                <img src="/Content/User/files/images/Room/phong-deluxe/80626001.jpg"
                                                                     alt="Khuyến mãi thành lập khách sạn Grand hotel">
                                                            </div>
                                                            <h2 class="posttitle">
                                                                <a href="#">
                                                                    Khuyến
                                                                    mãi thành lập khách sạn Grand hotel
                                                                </a>
                                                            </h2>
                                                            <div class="entry-content des-article">
                                                                <p>
                                                                    - Đến với Grand Hotel, bạn sẽ không chỉ tận hưởng kỳ
                                                                    nghỉ tuyệt vời với những trải nghiệm thú vị mà còn
                                                                    tận hưởng các chương trình khuyến mãi cực kỳ hấp dẫn
                                                                    của khu nghỉ mát
                                                                </p>
                                                                <div class="clear"></div>
                                                                <a href="#" class="more">Chi tiết</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <br />
                                                    </article>
                                                    <!-- end post -->
                                                </section>
                                                <section>
                                                    <aside id="sidebar" class="four columns positionright">
                                                        <div class="widget-area">
                                                            <ul>
                                                                <li id="text-3" class="widget-container widget_text">
                                                                    <div class="wrap-mode-check">
                                                                        <h3 class="widget-title">
                                                                            Đặt phòng khách sạn
                                                                        </h3>
                                                                        <div id="wrap-check-one">
                                                                            <form id="check-room">
                                                                                <div class="av-check-time">
                                                                                    <span>Ngày đến:</span> <input class="checkdate" id="Arrive"
                                                                                                                  type="text">
                                                                                </div>
                                                                                <div class="av-check-time">
                                                                                    <span>Ngày đi: </span> <input class="checkdate" id="Depart"
                                                                                                                  type="text">
                                                                                </div>
                                                                                <div class="av-persion">
                                                                                    <div class="av-item-pertion">

                                                                                        <span>Người lớn:</span>
                                                                                        <select id="av-adult"
                                                                                                name="Adult">
                                                                                            <option>1</option>
                                                                                            <option>2</option>
                                                                                            <option>3</option>
                                                                                            <option>4</option>
                                                                                            <option>5</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="av-item-pertion">
                                                                                        <span>Trẻ em:</span>
                                                                                        <select id="av-child"
                                                                                                name="Child">
                                                                                            <option>0</option>
                                                                                            <option>1</option>
                                                                                            <option>2</option>
                                                                                            <option>3</option>
                                                                                            <option>4</option>
                                                                                            <option>5</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <input type="submit" id="av-buton"
                                                                                       value="Tìm phòng trống"
                                                                                       class="btn btn-primary"
                                                                                       style=" padding: 9px 20px; margin-top: 10px; width: 100%" />
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <style>
                                                                        .av-check-time,
                                                                        .av-persion,
                                                                        .av-item-pertion {
                                                                            margin-bottom: 8px;
                                                                        }

                                                                        #check-room span {
                                                                            display: block;
                                                                            width: 86px;
                                                                            float: left;
                                                                        }

                                                                        #check-room input.checkdate,
                                                                        #check-room select {
                                                                            padding: 5px 10px;
                                                                            padding: 5px 10px;
                                                                            background: #ffffff;
                                                                            color: #121212;
                                                                            border: 1px solid #cacaca;
                                                                        }
                                                                    </style>

                                                                    <script>
                                                                        $(document).ready(function () {
                                                                            var getdate = new Date();
                                                                            var arrive = getdate;
                                                                            var depart = new Date();
                                                                            depart.setDate(getdate.getDate() + 1);
                                                                            console.log(depart);
                                                                            $("#Arrive").val($.datepicker.formatDate('mm/dd/yy', arrive));
                                                                            $("#Depart").val($.datepicker.formatDate('mm/dd/yy', depart));
                                                                            $("#Arrive").datepicker({
                                                                                minDate: arrive,
                                                                            });
                                                                            $("#Depart").datepicker({
                                                                                minDate: depart,
                                                                            });
                                                                        });
                                                                    </script>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>
                                                    <div class="clear"></div>
                                                </section>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
            <!-- FOOTER -->
            <footer id="footer">
                <!-- FOOTER SIDEBAR -->
                <div id="outerfootersidebar">
                    <div id="footersidebarcontainer">
                        <div class="container">
                            <div class="row">
                                <div id="copyright" class="three columns">
                                    <a href="/Home/Index" title="Grand Hotel">
                                        <img src="/Content/User/files/images/comment/logo.png"
                                             alt="Grand Hotel">
                                    </a>
                                    <div class="copyrighttext">
                                        Copyright &copy; 2020 by MTA TEAM
                                    </div>
                                </div>
                                <div id="footersidebar" class="nine columns">
                                    <div id="footcol1" class="six columns">
                                        <h2 class="widget-title">Grand Hotel</h2>
                                        Address: 210 Hoàng Quốc Việt, Hà Nội <br />
                                        Tel: 0357778089<br />
                                        Email: dat1999vn@gmail.com
                                    </div>
                                    <div id="footcol3" class="three columns">
                                        <ul>
                                            <li class="widget-container">
                                                <h2 class="widget-title">About Us</h2>
                                                <ul>
                                                    <li><a href="#">Contact Us </a></li>
                                                    <li><a href="#">Location & map </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="footcol4" class="three columns">
                                        <ul>
                                            <li class="widget-container">
                                                <h2 class="widget-title">Follow Us</h2>
                                                <p class="social">
                                                    <a href="#">
                                                        <img src="/Content/User/Content/img-comment/facebook.png"
                                                             alt="facebook" />Facebook
                                                    </a>
                                                </p>
                                                <p class="social">
                                                    <a href="#">
                                                        <img src="/Content/User/Content/img-comment/youtube.png"
                                                             alt="Youtube" />Youtube
                                                    </a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END FOOTER SIDEBAR -->
            </footer>
            <!-- END FOOTER -->
            <div class="clear"></div><!-- clear float -->
        </div><!-- end outercontainer -->
    </div><!-- end bodychild -->
</body>

</html>

