@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>LienHe</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,vietnamese' rel='stylesheet'
          type='text/css'>
    <!-- CSS -->
    <link href="/Content/User/Content/css/color.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/inner.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/layout.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/nivo-slider.css" rel="stylesheet" />
    <link href="/Content/User/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/User/Plugins/jquery-ui/css/jquery-ui-1.8.7.custom-blue.css" rel="stylesheet" />
    <!-- Css Menu-->
    <link href="/Content/User/Plugins/Menu/styles-menu.css" rel="stylesheet" />
    <!-- comment css-->
    <link href="/Content/User/Content/css/comment.css" rel="stylesheet" />
    <!-- JS -->
    <script src="/Content/User/Plugins/jquery-ui/js/jquery-1.9.1.js"></script>
    <script src="/Content/User/Plugins/jquery-ui/js/jquery-ui-1.10.0.min.js"></script>
    <!-- script menu-->
    <script src="/Content/User/Plugins/Menu/script-menu.js"></script>
</head>

<body class="" cz-shortcut-listen="true">

    <div id="bodychild">
        <div id="outercontainer">

            <!-- HEADER -->
            <div id="outerheader">
                <div id="headercontainer">
                    <div class="container" style="position: relative">

                        <header id="top">

                            <div id="logo">
                                <a href="/Home/Index"><img src="/Content/User/files/images/comment/logo.png" alt="GRAND HOTEL"></a>
                            </div>
                            <div id="navigation">

                                <div id='cssmenu'>
                                    <ul>
                                        <li><a href="/Home/Index">Trang Chủ</a></li>
                                        <li><a href="/GioiThieu">Giới Thiệu</a></li>
                                        <li><a href="/LoaiPhong">Loại Phòng</a></li>
                                        <li><a href="/Home/KhuyenMai">Khuyến Mãi</a></li>
                                        <li><a href="/Home/DichVu">Dịch Vụ</a></li>
                                        <li><a href="/Gallery">Gallery</a></li>
                                        <li><a href="/Home/LienHe">Liên Hệ</a></li>
                                        <li><a href="/DatPhong">Đặt Phòng</a></li>
                                    </ul>
                                </div>


                            </div>
                            <div class="clear"></div>
                        </header>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- END HEADER -->
            <!-- SLIDER -->

            <link href="/Content/User/Plugins/Validate/jquery-validation-1.13.1/jquery-validation.css" rel="stylesheet" />
            <script src="/Content/User/Plugins/Validate/jquery-validation-1.13.1/jquery.validate.min.js"></script>
            <script src="/Content/User/Plugins/Validate/jquery-validation-1.13.1/additional-methods.min.js"></script>


            <div id="outerafterheader">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns" id="afterheader">
                            <h1 class="pagetitle">Liên Hệ </h1>

                        </div>
                    </div>
                </div>
            </div>

            <div id="outermain">
                <div id="maincontainer">
                    <div class="container">
                        <div class="row">
                            <section id="maincontent">
                                <section id="content" class="twelve columns">
                                    <div id="ts-portfolio">
                                        <div class="row ">
                                            <section class="single content-detail">
                                                <section class="eight columns positionleft">
                                                    <article class="post">
                                                        <div class="page  articlecontainer">
                                                            <article class="entry-content">
                                                                <p>
                                                                    <br />
                                                                    <strong>GRAND HOTEL</strong><br>
                                                                    Address: 210 Hoàng Quốc Việt, Hà Nội <br />
                                                                    Tel: 0357778089<br />
                                                                    Email: <a href="#">dat1999vn@gmail.com</a><br>
                                                                </p>
                                                                <hr />
                                                                <br />

                                                                <form id="contactform" class="form-horizontal">
                                                                    <div class="row">
                                                                        <div class="six columns">
                                                                            <div class="form-group">
                                                                                <label for="contactname"
                                                                                       class="col-sm-12 control-label">
                                                                                    Giới
                                                                                    tính<span class="required">*</span>
                                                                                </label>
                                                                                <div class="col-sm-12">
                                                                                    <select class="select-gender-gust-b-info"
                                                                                            name="Gender">
                                                                                        <option value="">
                                                                                            Lựa chọn
                                                                                        </option>
                                                                                        <option value="Mr">Mr</option>
                                                                                        <option value="Ms">Ms</option>
                                                                                        <option value="Mrs">Mrs</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="contactname"
                                                                                       class="col-sm-12 control-label">
                                                                                    Họ
                                                                                    tên<span class="required">*</span>
                                                                                </label>
                                                                                <div class="col-sm-12">
                                                                                    <input type="text" class="ten"
                                                                                           id="contactname"
                                                                                           name="FullName">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="Tel"
                                                                                       class="col-sm-12 control-label">
                                                                                    Số
                                                                                    điện thoại
                                                                                </label>
                                                                                <div class="col-sm-12">
                                                                                    <input type="text" class="ten"
                                                                                           id="Tel" name="Tel">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="Tel"
                                                                                       class="col-sm-12 control-label">
                                                                                    Email<span class="required">*</span>
                                                                                </label>
                                                                                <div class="col-sm-12">
                                                                                    <input type="email" class="ten"
                                                                                           id="Email" name="Email">
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="Content"
                                                                               class="col-sm-4 control-label twelve">
                                                                            Yêu
                                                                            cầu khác
                                                                        </label>
                                                                        <div class="col-sm-4">
                                                                            <textarea class="form-control" id="Request"
                                                                                      name="Request"
                                                                                      class="twelve"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="message"
                                                                               class="col-sm-2 control-label"></label>
                                                                        <div class="col-sm-10">
                                                                            <input style="margin-left: 0px; margin-top: 15px;"
                                                                                   type="submit" name="Send" value="Gửi"
                                                                                   id="Send" class="btn btn-primary">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </article><!-- close #contact-wrapper -->
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </article>
                                                </section>
                                                <section>
                                                    <aside id="sidebar" class="four columns positionright">
                                                        <div class="widget-area">
                                                            <ul>
                                                                <li id="text-3" class="widget-container widget_text">
                                                                    <div class="wrap-mode-check">
                                                                        <h3 class="widget-title">
                                                                            Đặt phòng khách sạn
                                                                        </h3>
                                                                        <div id="wrap-check-one">
                                                                            <form id="check-room">
                                                                                <div class="av-check-time">
                                                                                    <span>Ngày đến:</span> <input class="checkdate" id="Arrive"
                                                                                                                  type="text">
                                                                                </div>
                                                                                <div class="av-check-time">
                                                                                    <span>Ngày đi: </span> <input class="checkdate" id="Depart"
                                                                                                                  type="text">
                                                                                </div>
                                                                                <div class="av-persion">
                                                                                    <div class="av-item-pertion">

                                                                                        <span>Người lớn:</span>
                                                                                        <select id="av-adult"
                                                                                                name="Adult">
                                                                                            <option>1</option>
                                                                                            <option>2</option>
                                                                                            <option>3</option>
                                                                                            <option>4</option>
                                                                                            <option>5</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="av-item-pertion">
                                                                                        <span>Trẻ em:</span>
                                                                                        <select id="av-child"
                                                                                                name="Child">
                                                                                            <option>0</option>
                                                                                            <option>1</option>
                                                                                            <option>2</option>
                                                                                            <option>3</option>
                                                                                            <option>4</option>
                                                                                            <option>5</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <input type="submit" id="av-buton"
                                                                                       value="Tìm phòng trống"
                                                                                       class="btn btn-primary"
                                                                                       style=" padding: 9px 20px; margin-top: 10px; width: 100%" />
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <style>
                                                                        .av-check-time,
                                                                        .av-persion,
                                                                        .av-item-pertion {
                                                                            margin-bottom: 8px;
                                                                        }

                                                                        #check-room span {
                                                                            display: block;
                                                                            width: 86px;
                                                                            float: left;
                                                                        }

                                                                        #check-room input.checkdate,
                                                                        #check-room select {
                                                                            padding: 5px 10px;
                                                                            padding: 5px 10px;
                                                                            background: #ffffff;
                                                                            color: #121212;
                                                                            border: 1px solid #cacaca;
                                                                        }
                                                                    </style>

                                                                    <script>
                                                                        $(document).ready(function () {
                                                                            var getdate = new Date();
                                                                            var arrive = getdate;
                                                                            var depart = new Date();
                                                                            depart.setDate(getdate.getDate() + 1);
                                                                            console.log(depart);
                                                                            $("#Arrive").val($.datepicker.formatDate('mm/dd/yy', arrive));
                                                                            $("#Depart").val($.datepicker.formatDate('mm/dd/yy', depart));
                                                                            $("#Arrive").datepicker({
                                                                                minDate: arrive,
                                                                            });
                                                                            $("#Depart").datepicker({
                                                                                minDate: depart,
                                                                            });
                                                                        });
                                                                    </script>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>
                                                </section>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .form-group {
                    margin-bottom: 10px;
                }

                    .form-group label {
                        color: #444;
                    }
            </style>
            <!-- END MAIN CONTENT -->
            <!-- FOOTER -->
            <footer id="footer">
                <!-- FOOTER SIDEBAR -->
                <div id="outerfootersidebar">
                    <div id="footersidebarcontainer">
                        <div class="container">
                            <div class="row">
                                <div id="copyright" class="three columns">
                                    <a href="/Home/Index" title="Grand Hotel">
                                        <img src="/Content/User/files/images/comment/logo.png"
                                             alt="Grand Hotel">
                                    </a>
                                    <div class="copyrighttext">
                                        Copyright &copy; 2020 by MTA TEAM
                                    </div>
                                </div>
                                <div id="footersidebar" class="nine columns">
                                    <div id="footcol1" class="six columns">
                                        <h2 class="widget-title">Grand Hotel</h2>
                                        Address: 210 Hoàng Quốc Việt, Hà Nội <br />
                                        Tel: 0357778089<br />
                                        Email: dat1999vn@gmail.com
                                    </div>
                                    <div id="footcol3" class="three columns">
                                        <ul>
                                            <li class="widget-container">
                                                <h2 class="widget-title">About Us</h2>
                                                <ul>
                                                    <li><a href="#">Contact Us </a></li>
                                                    <li><a href="#">Location & map </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="footcol4" class="three columns">
                                        <ul>
                                            <li class="widget-container">
                                                <h2 class="widget-title">Follow Us</h2>
                                                <p class="social">
                                                    <a href="#">
                                                        <img src="/Content/User/Content/img-comment/facebook.png"
                                                             alt="facebook" />Facebook
                                                    </a>
                                                </p>
                                                <p class="social">
                                                    <a href="#">
                                                        <img src="/Content/User/Content/img-comment/youtube.png"
                                                             alt="Youtube" />Youtube
                                                    </a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END FOOTER SIDEBAR -->
            </footer>
            <!-- END FOOTER -->
            <div class="clear"></div><!-- clear float -->
        </div><!-- end outercontainer -->
    </div><!-- end bodychild -->
</body>

</html>
