
@{
    ViewBag.Title = "Superior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>phong Superior</title>

<link href="/Content/User/Plugins/Slider/flexslider/flexslider.css" rel="stylesheet" />
<script src="/Content/User/Plugins/Slider/flexslider/jquery.flexslider-min.js"></script>

<div id="outerafterheader">
    <div class="container">
        <div class="row">
            <div class="twelve columns" id="afterheader">
                <h1 class="pagetitle">Superior Room</h1>
            </div>
        </div>
    </div>
</div>

<div id="outermain">
    <div id="maincontainer">
        <div class="container">
            <div class="row">
                <section id="maincontent">
                    <section id="content" class="eight columns positionleft">
                        <article>
                            <div class="articlecontainer">
                                <div id="roomslider" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/80625894.jpg"></li>
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/80626001.jpg"></li>
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/80626002.jpg"></li>
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/phong7.jpg"></li>
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/83973662.jpg"></li>
                                        <li><img src="/Content/User/files/images/Room/phong-Superior/phong3.jpg"></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="entry-content" style="margin-top: 50px;">
                                    <div style="text-align: justify;">
                                        <div style="text-align: justify;">
                                            <table border="0" cellpadding="8" cellspacing="0" style="width:100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;">
                                                            <ul>
                                                                <li>Area: 20m<sup>2</sup></li>
                                                                <li>1 double bed or 2 single beds</li>
                                                                <li>Bathroom with glass wall and shower</li>
                                                                <li>International direct dial telephone</li>
                                                                <li>Cable TV</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>Air conditioner</li>
                                                                <li>Tea and coffee table</li>
                                                                <li>Wifi and free internet</li>
                                                                <li>Room service</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div style="text-align: justify;">&nbsp;</div>
                                    </div>

                                </div>
                                <div class="entry-content">
                                    <a class="button" href="/booking">Book Now</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </article>
                        <section class="other-content" style="float: left">
                            <div id="ts-portfolio">
                                <div class="row">
                                    <br />
                                    <h2 class="h2-other">Other Rooms</h2>
                                    <div class="item one_third columns item-other">
                                        <div class="ts-pf-img">
                                            <a href="/Rooms  Rates/6/phong-deluxe">
                                                <img src="/Content/User/files/images/Room/phong-deluxe/80625895.jpg" alt="Ph&#242;ng Deluxe">
                                            </a>
                                        </div>
                                        <div class="ts-pf-text">
                                            <h3 class="pftitle"><a href="/Rooms  Rates/6/phong-deluxe" title="Ph&#242;ng Deluxe">Ph&#242;ng Deluxe</a></h3>
                                        </div>
                                    </div>
                                    <div class="item one_third columns item-other">
                                        <div class="ts-pf-img">
                                            <a href="/Rooms  Rates/8/bungalow-luxury">
                                                <img src="/Content/User/files/images/Room/phong-luxury/phong1.jpg" alt="Bungalow Luxury ">
                                            </a>
                                        </div>
                                        <div class="ts-pf-text">
                                            <h3 class="pftitle"><a href="/Rooms  Rates/8/bungalow-luxury" title="Bungalow Luxury ">Bungalow Luxury </a></h3>
                                        </div>
                                    </div>
                                    <div class="item one_third columns item-other">
                                        <div class="ts-pf-img">
                                            <a href="/Rooms  Rates/12/suite-room">
                                                <img src="/Content/User/files/images/Room/phong-Suite/80626002.jpg" alt="Suite Room">
                                            </a>
                                        </div>
                                        <div class="ts-pf-text">
                                            <h3 class="pftitle"><a href="/Rooms  Rates/12/suite-room" title="Suite Room">Suite Room</a></h3>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                    </section>
                    <section>
                        <aside id="sidebar" class="four columns positionright">
                            <div class="widget-area">
                                <ul>
                                    <li id="text-3" class="widget-container widget_text">


                                        <div class="wrap-mode-check">
                                            <h3 class="widget-title">Make A Reservation</h3>
                                            <div id="wrap-check-one">
                                                <form id="check-room" action="/booking" method="GET">
                                                    <div class="av-check-time">
                                                        <span>Check In:</span> <input class="checkdate" id="Arrive" name="Arrive" readonly="readonly" type="text">

                                                    </div>
                                                    <div class="av-check-time">
                                                        <span>Check Out: </span> <input class="checkdate" id="Depart" name="Depart" readonly="readonly" type="text">
                                                    </div>
                                                    <div class="av-persion">
                                                        <div class="av-item-pertion">

                                                            <span>Adults:</span>
                                                            <select id="av-adult" name="Adult">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>

                                                        </div>
                                                        <div class="av-item-pertion">
                                                            <span>Child:</span>
                                                            <select id="av-child" name="Child">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input type="submit" id="av-buton" value="Search Availability" class="btn btn-primary" style=" padding: 9px 20px; margin-top: 10px; width: 100%" />
                                                </form>
                                            </div>
                                        </div>
                                        <style>
                                            .av-check-time, .av-persion, .av-item-pertion {
                                                margin-bottom: 8px;
                                            }

                                            #check-room span {
                                                display: block;
                                                width: 86px;
                                                float: left;
                                            }

                                            #check-room input.checkdate, #check-room select {
                                                padding: 5px 10px;
                                                padding: 5px 10px;
                                                background: #ffffff;
                                                color: #121212;
                                                border: 1px solid #cacaca;
                                            }
                                        </style>

                                        <script>
                                            $(document).ready(function () {
                                                var getdate = new Date();
                                                var arrive = getdate;
                                                var depart = new Date();
                                                depart.setDate(getdate.getDate() + 1);
                                                console.log(depart);
                                                $("#Arrive").val($.datepicker.formatDate('mm/dd/yy', arrive));
                                                $("#Depart").val($.datepicker.formatDate('mm/dd/yy', depart));
                                                $("#Arrive").datepicker({
                                                    minDate: arrive,
                                                });
                                                $("#Depart").datepicker({
                                                    minDate: depart,
                                                });
                                            });
                                        </script>

                                    </li>
                                </ul>
                            </div>


                        </aside>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#roomslider').flexslider({
            animation: "fade",
            slideshow: true,
            nextText: "",
            prevText: "",
        });
    });
</script>